﻿
@{
    ViewBag.Title = "EvaluatedTickets";
}

<script>

    $(document).ready(function () {
        loadEvaluatedTickets();
    });

    function loadEvaluatedTickets() {
        getEvaluatedTickets(function (data) {
            var tbody = $("#tbody-evaluated");
            tbody.empty();
            for (var i = 0; i < data.length; i++) {
                var ticketId = data[i].TicketId;
                var totalOdds = data[i].TotalOdds.toFixed(2);
                var winPotential = data[i].WinPotential.toFixed(2);
                var isWinning = data[i].IsWinning;
                var betValue = data[i].BetValue.toFixed(2);

                var tr = $("<tr>");
                tr.append("<td>" + ticketId + "</td>");
                tr.append("<td>" + totalOdds + "</td>");
                tr.append("<td>" + betValue + "</td>");
                if (isWinning) {
                    tr.append("<td class='winning'>+" + winPotential + "</td>");
                } else {
                    tr.append("<td class='losing'>-" + winPotential + "</td>");
                }
                tbody.append(tr);
            }
        });
    }

</script>

<div class="container tickets-container">
    <div class="not-evaluated-tickets-list">
        <table class="table my-ticket-table">
            <thead>
            <tr>
                <th>#</th>
                <th>Total Odds</th>
                <th>BetValue</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tbody id="tbody-evaluated">

            </tbody>
        </table>
    </div>
</div>

