﻿
@{
    ViewBag.Title = "MyTicket";
}

<script>
    var ticketId;
    var totalOdds;
    $(document).ready(function () {
        loadCurrentTicket();
        loadNotEvaluatedClosedTickets();
    });

    function loadCurrentTicket() {
        getMyCurrentTicket(function (data) {
            totalOdds = data.TotalOddsValue.toFixed(2);
            ticketId = data.TicketId;
            $("#ticket-id").text("MY TICKET #" + ticketId);
            $("#total-odds").text("Total odds: " + totalOdds);
            var tbody = $("#tbody-bets");
            tbody.empty();
            for (var i = 0; i < data.OddsOnTicket.length; i++) {
                var oddHost = data.OddsOnTicket[i].Odd_Host;
                var oddGuest = data.OddsOnTicket[i].Odd_Guest;
                var oddTypeCode = data.OddsOnTicket[i].Odd_Type_Code;
                var oddValue = data.OddsOnTicket[i].Odd_Value.toFixed(2);

                var tr = $("<tr>");
                tr.append("<td>" + oddHost + "</td>");
                tr.append("<td>" + oddGuest + "</td>");
                tr.append("<td>" + oddTypeCode + "</td>");
                tr.append("<td>" + oddValue + "</td>");

                tbody.append(tr);
            }

        });
    }

    function loadNotEvaluatedClosedTickets() {
        getMyNotEvaluatedTickets(function (data) {
            var tbody = $("#tbody-not-evaluated");
            tbody.empty();
            for (var i = 0; i < data.length; i++) {
                var ticketId = data[i].TicketId;
                var evaluatedRatio = data[i].EvaluatedMatches + "/" + data[i].NotEvaluatedMatches;
                var totalOdds = data[i].TotalOdds.toFixed(2);
                var winPotential = data[i].WinPotential.toFixed(2);

                var tr = $("<tr>");
                tr.append("<td>" + ticketId + "</td>");
                tr.append("<td>" + evaluatedRatio + "</td>");
                tr.append("<td>" + totalOdds + "</td>");
                tr.append("<td>" + winPotential + "</td>");

                tbody.append(tr);
            }
        });
    }

    function recalculatePotentialWin() {
        var bet = $("#bet-value").val();
        if (isNaN(bet) || isNaN(parseFloat(bet))) {
            $("#bet-value").val("");
        } else {
            $("#potential-win-value").text("Potential win: " + (bet * totalOdds).toFixed(2));
        }
    }

    function createTicket() {
        createCurrentTicket($("#bet-value").val(),
            function(data) {
                $.notify("Ticket was created", "success");
                loadCurrentTicket();
                recalculatePotentialWin();
            });
    }

</script>
<div class="container tickets-container">
    <div class="current-ticket-form form-box">
        <h2 id="ticket-id"></h2>
        <form>
            <table class="table my-ticket-table">
                <thead>
                <tr>
                    <th>Host</th>
                    <th>Guest</th>
                    <th>Bet</th>
                    <th>Odds</th>
                </tr>
                </thead>
                <tbody id="tbody-bets">

                </tbody>
            </table>
            <h3 id="total-odds"></h3>
            <div class="user-box">
                <input id="bet-value" type="text" name="" required="" oninput="recalculatePotentialWin()">
                <label>Bet</label>
            </div>
            <h3 id="potential-win-value"></h3>
            <div class="user-box action-button" onclick="createTicket()">
                <a href="#" onclick="return false">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Create
                </a>
            </div>
            <div class="hidden form-error-container">
                <button type="button" class="btn btn-lg btn-danger disabled">!</button>
                <p class="form-error-message"></p>
            </div>
        </form>
    </div>
    <div class="not-evaluated-tickets-list">
        <table class="table my-ticket-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Evaluated matches</th>
                    <th>Total odds</th>
                    <th>Win potential</th>
                </tr>
            </thead>
            <tbody id="tbody-not-evaluated">
                
            </tbody>
        </table>
    </div>
</div>