﻿/* Zdroj: https://codepen.io/soufiane-khalfaoui-hassani/pen/LYpPWda */
.form-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(72,87,97);
    background: linear-gradient(0deg, rgba(72,87,97,1) 0%, rgba(84,101,112,1) 30%, rgba(78,96,108,1) 100%);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px 5px rgba(51,122,183,0.9);
    border-radius: 10px;
}

.form-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #86919a;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.form-box .user-box {
    position: relative;
}

.form-successfully-submitted {
    animation: form-successful 3s;
}

.form-unsuccessfully-submitted {
    animation: form-unsuccessful 3s infinite;
}

.form-error-container {
    display: flex;
    padding-top: 20px;
}

.form-error-container p {
    color: rgba(245, 96, 66, 1);
    font-weight: bold;
    padding-left: 10px;
}

.form-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #337ab7;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #337ab7;
    outline: none;
    background: transparent;
}

.form-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #337ab7;
    pointer-events: none;
    transition: .5s;
}

.form-box .user-box input:focus ~ label,
.form-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #337ab7;
    font-size: 12px;
}

.form-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #337ab7;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.action-button {
    width: 100%;
}

.action-button a {
    width: 100%;
    text-align: center;
    box-shadow: 0 0 2px #337ab7, 0 0 10px #337ab7, 0 0 25px #337ab7, 0 0 50px #337ab7;
}

.form-box a:hover {
    background: #337ab7;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 0 5px #337ab7, 0 0 25px #337ab7, 0 0 50px #337ab7, 0 0 100px #337ab7;
}

.form-box a span {
    position: absolute;
    display: block;
}

.form-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,100% {
        left: 100%;
    }
}

.form-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,100% {
        top: 100%;
    }
}

.form-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,100% {
        right: 100%;
    }
}

.form-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,100% {
        bottom: 100%;
    }
}

@keyframes form-successful {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(66, 245, 69,0.8);
        -moz-box-shadow: 0px 0px 0px 0px rgba(66, 245, 69,0.8);
        box-shadow: 0px 0px 0px 0px rgba(66, 245, 69,0.8);
    }
    100% {
        -webkit-box-shadow: 0px 0px 50px 10px rgba(66, 245, 69,0.99);
        -moz-box-shadow: 0px 0px 50px 10px rgba(66, 245, 69,0.99);
        box-shadow: 0px 0px 50px 10px rgba(66, 245, 69,0.99);
    }
}

@keyframes form-unsuccessful {
    0% {
        -webkit-box-shadow: 0px 0px 5px 5px rgba(245, 96, 66,0.8);
        -moz-box-shadow: 0px 0px 5px 5px rgba(245, 96, 66,0.8);
        box-shadow: 0px 0px 5px 5px rgba(245, 96, 66,0.8);
    }
    50% {
        -webkit-box-shadow: 0px 0px 30px 10px rgba(245, 96, 66,0.99);
        -moz-box-shadow: 0px 0px 30px 10px rgba(245, 96, 66,0.99);
        box-shadow: 0px 0px 30px 10px rgba(245, 96, 66,0.99);
    }
    100% {
        -webkit-box-shadow: 0px 0px 5px 5px rgba(245, 96, 66,0.8);
        -moz-box-shadow: 0px 0px 5px 5px rgba(245, 96, 66,0.8);
        box-shadow: 0px 0px 5px 5px rgba(245, 96, 66,0.8);
    }
}