﻿/*Source - https://freefrontend.com/css-select-boxes/ */
@font-face {
    font-family: pfs-bold;
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/PFSquareSansPro-Bold.otf");
}

.drop {
    width: 12em;
    font-family: pfs-bold;
    color: #86919a;
    text-transform: uppercase;
    position: relative;
    transition: width 0.5s;
    will-change: width;
}

.drop .option {
    padding: 1em;
    cursor: pointer;
    background-color: #485761;
}

.navbar .drop .option {
    padding: 0 !important;
    margin: 1em !important;
}

.drop .option:not(.active) {
    display: none;
    opacity: 0;
    transform: translateY(-50%);
}

.drop.visible {
    -webkit-animation: bounce 1s;
    animation: bounce 1s;
    width: 14em;
}

.drop.visible:before, .drop.visible:after {
    border-color: #fff;
}

.drop.visible:before {
    opacity: 0;
}

.drop.visible:after {
    opacity: 1;
}

.drop.visible .option {
    color: #fff;
    display: block;
}

.drop.opacity .option {
    transform: translateZ(0);
    opacity: 1;
}

.drop.opacity .option:nth-child(0) {
    transition: opacity 0.5s 0s, transform 0.5s 0s;
}

.drop.opacity .option:nth-child(1) {
    transition: opacity 0.5s 0.1s, transform 0.5s 0.1s;
}

.drop.opacity .option:nth-child(2) {
    transition: opacity 0.5s 0.2s, transform 0.5s 0.2s;
}

.drop.opacity .option:nth-child(3) {
    transition: opacity 0.5s 0.3s, transform 0.5s 0.3s;
}

.drop.opacity .option:nth-child(4) {
    transition: opacity 0.5s 0.4s, transform 0.5s 0.4s;
}

.drop.opacity .option:nth-child(5) {
    transition: opacity 0.5s 0.5s, transform 0.5s 0.5s;
}

.drop.opacity .option:nth-child(6) {
    transition: opacity 0.5s 0.6s, transform 0.5s 0.6s;
}

.drop.opacity .option:nth-child(7) {
    transition: opacity 0.5s 0.7s, transform 0.5s 0.7s;
}

.drop.opacity .option:nth-child(8) {
    transition: opacity 0.5s 0.8s, transform 0.5s 0.8s;
}

.drop.opacity .option:nth-child(9) {
    transition: opacity 0.5s 0.9s, transform 0.5s 0.9s;
}

.drop.withBG .option {
    transition: background-color 0.1s;
}

.drop.withBG .option:not(.placeholder):hover {
    background-color: #5C7281;
    color: #fff;
}

.drop.withBG .option:not(.placeholder).active {
    background-color: #485761;
    color: #fff;
}

.drop:after, .drop:before {
    content: "";
    position: absolute;
    top: 1.5em;
    right: 1em;
    width: 0.75em;
    height: 0.75em;
    border: 0.2em solid #86919a;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
    transition: opacity 0.2s;
}

.drop:before {
    border-left: none;
    border-top: none;
    top: 1.2em;
}

.drop:after {
    border-right: none;
    border-bottom: none;
    opacity: 0;
}

.mini-hack {
    opacity: 0;
    transform: translateY(-50%);
}

.option a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1em;
}
