﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FriBetting</title>

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/notify")

    @Scripts.Render("~/bundles/services/sportsService")
    @Scripts.Render("~/bundles/services/usersService")
    @Scripts.Render("~/bundles/services/competitorsService")
    @Scripts.Render("~/bundles/services/matchesService")
    @Scripts.Render("~/bundles/services/ticketsService")

    @Scripts.Render("~/bundles/components/dropdown")

    @Styles.Render("~/bundles/components/dropdown/css")
    @Styles.Render("~/bundles/components/fancyform/css")
    @Styles.Render("~/Content/css")
    <script 
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-part" class="navbar-collapse collapse">
                <div class="drop matches-dropdown logged-in-menu-item">
                    <div class="option active placeholder matches-dropdown">Zápasy</div>
                    <div class="option matches-dropdown">@Html.ActionLink("Zoznam", "MatchList", "Matches")</div>
                    <div class="option matches-dropdown">@Html.ActionLink("Nový zápas", "NewMatch", "Matches")</div>
                </div>
                <div class="drop tickets-dropdown logged-in-menu-item">
                    <div class="option active placeholder tickets-dropdown">Tikety</div>
                    <div class="option matches-dropdown">@Html.ActionLink("Aktuálne", "MyTicket", "Tickets")</div>
                    <div class="option matches-dropdown">@Html.ActionLink("Vyhodnotené", "EvaluatedTickets", "Tickets")</div>
                </div>
                <div class="drop account-dropdown not-logged-in-menu-item">
                    <div class="option active placeholder account-dropdown">Účet</div>
                    <div class="option account-dropdown">@Html.ActionLink("Registrácia", "Register", "Users")</div>
                    <div class="option account-dropdown">@Html.ActionLink("Prihlásenie", "Login", "Users")</div>
                </div>
                <div class="drop account-dropdown logged-in-menu-item">
                    <div class="option active placeholder account-dropdown">Účet</div>
                    <div class="option account-dropdown"><a href="" onclick="logoutUser()">Odhlásiť</a></div>
                    <div class="option account-dropdown">@Html.ActionLink("Detaily účtu", "MyAccount", "Users")</div>
                </div>
            </div>
        </div>
    </div>
<div class="container body-content">
    @RenderBody()
</div>

@RenderSection("scripts", required: false)
</body>
</html>