﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - MemoryGameWebApp</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/checkboxes.css" />

    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="ckbx-circle-4">
                    <input disabled type="checkbox" id="ckbx-circle-4-1" value="0" name="ckbx-circle-4">
                    <label for="ckbx-circle-4-1"></label>
                </div>
                <a class="navbar-brand" asp-area="" asp-page="/Index">MemoryGameWebApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" id="index-menu">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Hra</a>
                        </li>
                        <li class="nav-item" id="login-menu">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Login">Prihlásenie</a>
                        </li>
                        <li class="nav-item" id="register-menu">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Registration">Registrácia</a>
                        </li>
                        <li class="nav-item" id="users-list-menu">
                            <a class="nav-link text-dark" asp-area="" asp-page="/LoggedInUsers">Prihlásení používatelia</a>
                        </li>
                        <li class="nav-item" id="open-games-menu">
                            <a class="nav-link text-dark" asp-area="" asp-page="/OpenGames">Otvorené hry</a>
                        </li>
                        <li class="nav-item" id="played-games-menu">
                            <a class="nav-link text-dark" asp-area="" asp-page="/PlayedGames">Štatistiky hier</a>
                        </li>
                        <li class="nav-item" id="my-invites-menu">
                            <a class="nav-link text-dark" asp-area="" asp-page="/MyInvites">Moje výzvy</a>
                        </li>
                        <li class="nav-item" id="logout-menu">
                            <button class="btn btn-danger" onclick="logoutUser()">Odhlásiť</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/websocket.js" asp-append-version="true"></script>
    <script src="~/js/api.js" asp-append-version="true"></script>
    <script src="~/js/notify.min.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
