﻿html {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 70px;
    padding-bottom: 20px;
    min-height: 100%;
    min-width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 95%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #485761;
    border: 0 !important;
    -webkit-box-shadow: 0px 10px 20px 5px rgba(51,122,183, 0.90);
    -moz-box-shadow: 0px 10px 20px 5px rgba(51,122,183, 0.90);
    box-shadow: 0px 10px 20px 5px rgba(51,122,183,0.90);
}

.breathing {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: loading-breather;
}

.content-box {
    -webkit-box-shadow: 0px 10px 20px 5px rgba(51,122,183, 0.90);
    -moz-box-shadow: 0px 10px 20px 5px rgba(51,122,183, 0.90);
    box-shadow: 0px 10px 20px 5px rgba(51,122,183,0.90);
}

.match-filter {
    width: 100%;
    padding: 1em;
    position: relative;
}

.match-filter-user-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.form-inputs {
    height: 100%;
    width: 75%;
    display: block;
}

.form-actions {
    height: 100%;
    width: 25%;
    display: block;
}

#find-matches-button {
    width: 80%;
}

#navbar-part {
    display: flex !important;
}

.option a {
    text-decoration: none;
}

.logged-in-menu-item, .not-logged-in-menu-item {
    display: none;
}

#competitors-group {
    display: flex;
}

.force-hidden {
    display: none !important;
}

#create-match-box {
    width: auto;
}

#create-match-box .user-box {
    padding-bottom: 20px;
}

.form-padded {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.content {
    margin-top: 5em;
    padding: 5em;
}

/* Pagination source https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_pagination_active*/
.pagination {
    display: block;
    margin: auto;
    width: 50%;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: rgba(51,122,183,0.90);
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
/* Endof Pagination source https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_pagination_active */

/* Default table style */
.td-logo {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
}

.match-info, .match-info > td {
    border-bottom-style: none !important;
}

.show-odds-indicator-wrapper, .show-odds-indicator-wrapper > td {
    border-top-style: none !important;
}

.show-odds-padding {
    padding-bottom: 20px !important;
}

.match-info:hover, .show-odds-indicator:hover, .show-odds-indicator-desc:hover {
    cursor: pointer;
}
.show-odds-indicator {
    width: 100%;
    height: 1em;
    text-align: center;
    color: rgba(51, 122, 183, 1);
}

.show-odds-indicator-desc {
    text-align: center;
    color: rgba(51, 122, 183, 1);
}

.odds-row {
    background-color: rgba(51,122,183,0.7);
    display: none;
    height: 3em;
}

.odd-box {
    max-height: 18rem;
    max-width: 18rem;
    padding: 1em;
    border-radius: .5em;
}

.odd-box:hover {
    cursor: pointer;
    background-color: rgba(51, 122, 183, 0.5);
}

.odds-container {
    display: flex;
    text-align: center;
}

.evaluation-button {
    padding: 1em;
    border-radius: 0.2em;
    background-color: #546570;
    text-transform: uppercase;
    font-weight: bold;
}

.evaluation-td {
    padding: 2em !important;
}

.match-part-counter {
    padding-bottom: 1em;
    text-transform: uppercase;
    font-weight: bold;
}

/* Endof Default table style*/
/* MyTicket table styles */
.my-ticket-table {
    color: rgba(51, 122, 183, 1);
}

#total-odds {
    color: rgba(51, 122, 183, 1);
    text-align: center;
}
#bet-value {
    text-align: center;
}

#potential-win-value {
    text-align: center;
    color: rgba(51, 122, 183, 1);
}

.current-ticket-form {
    transform: none !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}
.tickets-container {
    margin: 0 !important;
    width: 100% !important;
    display: flex;
}
.not-evaluated-tickets-list {
    margin-left: 2em;
    background-color: #485761;
    width: 100%;
    -webkit-box-shadow: 0px 10px 20px 5px rgba(51,122,183, 0.90);
    -moz-box-shadow: 0px 10px 20px 5px rgba(51,122,183, 0.90);
    box-shadow: 0px 10px 20px 5px rgba(51,122,183,0.90);
}
.winning {
    color: green;
}
.losing {
    color: red;
}

/* EndOf MyTicket table styles */
/* Arrow source https://www.w3schools.com/howto/howto_css_arrows.asp */
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
/* Endof arrow source https://www.w3schools.com/howto/howto_css_arrows.asp */


@keyframes loading-breather {
    0% {
        -webkit-box-shadow: 0px 10px 20px 5px rgba(51,122,183,0.90);
        -moz-box-shadow: 0px 10px 20px 5px rgba(51,122,183,0.90);
        box-shadow: 0px 10px 20px 5px rgba(51,122,183,0.90);
    }
    50% {
        -webkit-box-shadow: 0px 10px 30px 8px rgba(40,77,189,0.99);
        -moz-box-shadow: 0px 10px 30px 8px rgba(40,77,189,0.99);
        box-shadow: 0px 10px 30px 8px rgba(40,77,189,0.99);
    }
    100% {
        -webkit-box-shadow: 0px 10px 20px 5px rgba(51,122,183,0.90);
        -moz-box-shadow: 0px 10px 20px 5px rgba(51,122,183,0.90);
        box-shadow: 0px 10px 20px 5px rgba(51,122,183,0.90);
    }
}
