﻿
@{
    ViewBag.Title = "Evaluation";
}
@model FriBettingWebApplication.Models.MatchEvaluationModel

<script>
    function evaluateMatch() {
        var matchEvaluation = {};
        matchEvaluation["MatchId"] = @Model.MatchId;
        matchEvaluation["PartsEvaluation"] = [];

        $(".match-part").each(function(e) {
            var matchPartId = $(this).attr('matchPartId');
            var matchPartGoalsHost = $(this).find(".match-part-goals-host").val();
            var matchPartGoalsGuest = $(this).find(".match-part-goals-guest").val();
            matchEvaluation["PartsEvaluation"].push({
                'MatchPartId': matchPartId,
                'HostGoals': matchPartGoalsHost,
                'GuestGoals': matchPartGoalsGuest
            });
        });

        evaluateMatchRequest(matchEvaluation,
            function(data) {
                if (data.Successful) {
                    $(".form-box").removeClass("breathing");
                    $(".form-error-container").addClass("hidden");
                    $(".form-box").addClass("form-successfully-submitted");
                    $.notify("Match was evaluated successfully", "success");
                } else {
                    $(".form-box").removeClass("breathing");
                    $(".form-box").addClass("form-unsuccessfully-submitted");
                    $(".form-error-message").text(data["ErrorMessage"]);
                    $(".form-error-container").removeClass("hidden");
                    $.notify(data.ErrorMessage, "error");
                }
            });

    }
</script>

<div class="form-box">
    <h2>MATCH #@Model.MatchId EVALUATION</h2>
    <form>
        @{
            int partCounter = 1;
            foreach (var matchPart in Model.MatchPartsIds)
            {
                <div matchPartId="@matchPart" class="match-part">
                    <div class="match-part-counter">Match part: @(partCounter++) (#@matchPart)</div>
                    <div class="match-part-host user-box">
                        <input class="match-part-goals-host" type="number" name="" required="">
                        <label>Goals HOST</label>
                    </div>
                    <div class="match-part-guest user-box">
                        <input class="match-part-goals-guest" type="number" name="" required="">
                        <label>Goals GUEST</label>
                    </div>
                </div>
            }
        }
        <div class="user-box action-button" onclick="evaluateMatch()">
            <a href="#" onclick="return false">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Evaluate
            </a>
        </div>
    </form>
</div>

