﻿@{
    ViewBag.Title = "TodayMatches";
}
@model FriBettingWebApplication.Models.MatchesTableModel

<script>
    $(document).ready(function () {
        $("#datepickerFrom").datepicker();
        $("#datepickerTo").datepicker();

        var urlParams = new URLSearchParams(window.location.search);
        var fromDate = urlParams.get('FromDate');
        var toDate = urlParams.get('ToDate');

        $("#datepickerFrom").val(fromDate);
        $("#datepickerTo").val(toDate);
    });

    function showOddsForMatch(matchId, showOrHide) {
        if (showOrHide) {
            $("#match-odds-" + matchId).fadeIn();
            $(".odds-container-match-" + matchId).empty();
            getOddsForMatch(matchId, function (data) {
                for (var i = 0; i < data.length; i++) {
                    var oddTypeCode = data[i].Odd_Type_Code;
                    var oddValue = data[i].Odd_Value.toFixed(2);
                    var oddId = data[i].Odd_Id;

                    var card = $('<div oddId=' + oddId + ' class="odd-box card border-success mb-3" style="max-width: 18rem;" onclick=addOddToTicket(' + oddId + ')>' +
                                        '<div class="card-header">' + oddTypeCode + '</div>' +
                                        '<div class="card-body text-success">' + 
                                            '<h5 class="card-title">' + oddValue + '</h5>' +
                                        '</div>' +  
                                '</div>');
                    $(".odds-container-match-" + matchId).append(card);
                }
            });
            
        } else {
            $("#match-odds-" + matchId).fadeOut();
        }
    }

    function evaluateMatch(matchId) {
        window.location = "./Evaluation?MatchId=" + matchId;
    }

    function addOddToTicket(oddId) {
        addOddToUserOpenedTicket(oddId);
    }

    function showOddsForMatchIndicator(matchId, row) {
        var arrow = $(row).find("i");
        if (arrow.hasClass("opened-odds")) {
            arrow.removeClass("opened-odds");
            arrow.removeClass("up");
            arrow.addClass("down");
            showOddsForMatch(matchId, false);
        } else {
            arrow.addClass("opened-odds");
            arrow.removeClass("down");
            arrow.addClass("up");
            showOddsForMatch(matchId, true);
        }
    }

</script>

<div class="container content content-box">

    <div class="container match-filter form-box">
        <form>
            <div class="match-filter-user-wrapper">
                <div class="form-inputs">
                    <div class="user-box">
                        <input type="text" id="datepickerFrom" placeholder="From date">
                    </div>
                    <div class="user-box">
                        <input type="text" id="datepickerTo" placeholder="To date">
                    </div>
                </div>

                <div class="form-actions">
                    <div id="find-matches-button" class="user-box action-button" onclick="findMatchesFiltered()">
                        <a href="#" onclick="return false">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Find
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Sport</th>
            <th>Date</th>
            <th>Host</th>
            <th>Guest</th>
            <th>Evaluate</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var match in Model.Matches)
        {
            <tr class="match-info">
                <td>@match.MatchId</td>
                <td class="td-logo" style="background-image: url('/Content/logo/sport_logo_@(match.SportId).jpg')"></td>
                <td>@match.DateTimeOfMatch</td>
                <td>@match.HostName</td>
                <td>@match.GuestName</td>
                <td class="evaluation-td">
                    <div class="user-box action-button" onclick="evaluateMatch(@match.MatchId)">
                        <a class="evaluation-button" href="#" onclick="return false">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Evaluate
                        </a>
                    </div>
                </td>
            </tr>
            <tr class="show-odds-indicator-wrapper" onclick="showOddsForMatchIndicator((@match.MatchId), this)">
                <td class="show-odds-padding" colspan="5">
                    <div class="show-odds-indicator-desc">Odds</div>
                    <div class="show-odds-indicator">
                        <i class="arrow down"></i>
                    </div>
                </td>
            </tr>
            <tr id="match-odds-@match.MatchId" class="odds-row">
                <td colspan="6">
                    <div class="odds-container odds-container-match-@match.MatchId"></div>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="pagination">
        <a href="?Page=@((Model.Page != 0) ? Model.Page - 1 : 0)&Size=@(Model.Size)&FromDate=@(Model.FromDate)&ToDate=@(Model.ToDate)">&laquo;</a>
        @foreach (int pageIndex in Enumerable.Range(0, (Model.Count / Model.Size) + 1))
        {
            if (pageIndex == Model.Page)
            {
                <a class="active" href="?Page=@(pageIndex)&Size=@(Model.Size)&FromDate=@(Model.FromDate)&ToDate=@(Model.ToDate)">@(pageIndex + 1)</a>
            }
            else
            {
                <a href="?Page=@(pageIndex)&Size=@(Model.Size)&FromDate=@(Model.FromDate)&ToDate=@(Model.ToDate)">@(pageIndex + 1)</a>
            }
        }
        <a href="?Page=@((Model.Page < Model.Count / Model.Size) ? Model.Page+1 : Model.Page)&Size=@(Model.Size)&FromDate=@(Model.FromDate)&ToDate=@(Model.ToDate)">&raquo;</a>
    </div>
</div>

