﻿@{
    ViewBag.Title = "Index";
}

<script>
    $(document).ready(function() {
        initSportsDropdown();
        sportSelectedCallback(null);
        $("#datepicker").datepicker();
    });

    var selectedSportId, selectedCompetitor1, selectedCompetitor2;

    function initSportsDropdown() {
        var sportsDrop = $("#sports-drop");
        var option = $("<div class='option sports-chooser-dropdown' data-value='-1'>--Šport--</div>");
        option.addClass("active");
        option.addClass("placeholder");
        sportsDrop.append(option);

        getAllSports(function(data) {
            for (var i = 0; i < data.length; i++) {
                var sportObj = data[i];
                var sportId = sportObj["sport_id"];
                var sportName = sportObj["sport_name"];

                var option = $("<div class='option sports-chooser-dropdown' data-value='" +
                    sportId +
                    "'>" +
                    sportName +
                    "</div>");
                sportsDrop.append(option);
            }
            renderDropdown("sports-chooser-dropdown", sportSelectedCallback);
        });
    }


    function sportSelectedCallback(sportId) {

        selectedSportId = sportId;

        var competitor1Drop = $("#competitor1-drop");
        var competitor2Drop = $("#competitor2-drop");

        competitor1Drop.empty();
        competitor2Drop.empty();

        var option1 = $("<div class='option competitor1-chooser-dropdown' data-value='-1'>--Tím1--</div>");
        var option2 = $("<div class='option competitor2-chooser-dropdown' data-value='-1'>--Tím2--</div>");

        option1.addClass("active");
        option1.addClass("placeholder");

        option2.addClass("active");
        option2.addClass("placeholder");

        competitor1Drop.append(option1);
        competitor2Drop.append(option2);

        if (sportId == null) {
            return;
        }

        getAllCompetitorsForSport(sportId,
            function(data) {
                for (var i = 0; i < data.length; i++) {
                    var competitor = data[i];
                    var competitorName = competitor["competitor_name"];
                    var competitorId = competitor["competitor_id"];

                    var optionToRender1 = $("<div class='option competitor1-chooser-dropdown' data-value='" +
                        competitorId +
                        "'>" +
                        competitorName +
                        "</div>");

                    var optionToRender2 = $("<div class='option competitor2-chooser-dropdown' data-value='" +
                        competitorId +
                        "'>" +
                        competitorName +
                        "</div>");

                    competitor1Drop.append(optionToRender1);
                    competitor2Drop.append(optionToRender2);
                }
                renderDropdown("competitor1-chooser-dropdown",
                    (selectedItem) => { selectedCompetitor1 = selectedItem });
                renderDropdown("competitor2-chooser-dropdown",
                    (selectedItem) => { selectedCompetitor2 = selectedItem });
            });
    }

    function createNewMatchRequest() {
        var selectedDate = $("#datepicker").val();
        createNewMatch(selectedSportId, selectedCompetitor1, selectedCompetitor2, selectedDate);
    }

</script>

<div id="create-match-box" class="form-box">
    <h2>Vytvorenie nového zápasu</h2>
    <form>
        <div class="user-box">
            <div id="sports-drop" class="drop sports-chooser-dropdown">

            </div>
        </div>
        <div class="user-box">
            <div id="competitors-group">

                <div clas="form-drop form-padded">
                    <div id="competitor1-drop" class="drop competitor1-chooser-dropdown">

                    </div>
                </div>

                <div clas="form-drop form-padded">
                    <div id="competitor2-drop" class="drop competitor2-chooser-dropdown">

                    </div>
                </div>
            </div>
        </div>
        <div class="user-box">
            <input type="text" id="datepicker" placeholder="Dátum zápasu">
        </div>
        <div class="user-box action-button" onclick="createNewMatchRequest()">
            <a href="#" onclick="return false">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Vytvoriť
            </a>
        </div>
        <div class="hidden form-error-container">
            <button type="button" class="btn btn-lg btn-danger disabled">!</button>
            <p class="form-error-message"></p>
        </div>
    </form>
</div>


