﻿
@{
    ViewBag.Title = "Login";
}

<div class="form-box">
    <h2>Login</h2>
    <form>
        <div class="user-box">
            <input id="username" type="text" name="" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input id="password" type="password" name="" required="">
            <label>Password</label>
        </div>
        <div class="user-box action-button" onclick="loginUser()">
            <a href="#" onclick="return false">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Login
            </a>
        </div>
        <div class="hidden form-error-container">
            <button type="button" class="btn btn-lg btn-danger disabled">!</button>
            <p class="form-error-message"></p>
        </div>
    </form>
</div>