﻿
@{
    ViewBag.Title = "MyAccount";
}

<script>

    $(document).ready(function () {
        loadAccDetails();
    });

    function loadAccDetails() {
        getAccountDetails(function (data) {
            $("#username").val(data.Username);
            $("#balance").val(data.Balance.toFixed(2));
        });
    }
</script>


<div class="form-box">
    <h2>Account details</h2>
    <form>
        <div class="user-box">
            <input id="username" type="text" name="" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input id="balance" type="text" name="" required="">
            <label>Balance</label>
        </div>
    </form>
</div>

