﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="game-creating-container" class="container-fluid">
    
    <h1>Vytvorenie novej hry</h1>
    
    @Html.DropDownListFor(m => m.GameStyleSelectList,
        new SelectList(
            Model.GameStyleSelectList,
            "GameStyleId",
            "Description"))

    @Html.DropDownListFor(m => m.GameTypeSelectList,
        new SelectList(
            Model.GameTypeSelectList,
            "GameTypeId",
            "Dimensions"))
    
    <button class="btn btn-success" onclick="createNewGame()">Vytvoriť novú hru</button>

</div>

<div id="game-grid" class="container">
    <div id="messenger" class="hidden-by-default">
        <div class="input-group mb-3">
            <input id="message-receiver" type="text" class="form-control" placeholder="Username" aria-label="Username" />
        </div>

        <div class="input-group mb-3">
            <input id ="message-text" type="text" class="form-control" placeholder="Message" aria-label="Správa" />
        </div>
        
        <button class="btn btn-success" onclick="sendPrivateMessageToUser()">Poslať správu</button>
    </div>

    <table id="game-grid-table">
    </table>
</div>
