﻿@page
@model MemoryGameWebApp.Pages.LoggedInUsersModel
@{
}

@section Scripts {
}

<div id="game-creating-container" class="container-fluid">
    
    <h1>Nastavenie novej hry pre vyzvanie</h1>
    @Html.DropDownListFor(m => m.GameStyleSelectList,
        new SelectList(
            Model.GameStyleSelectList,
            "GameStyleId",
            "Description"))

    @Html.DropDownListFor(m => m.GameTypeSelectList,
        new SelectList(
            Model.GameTypeSelectList,
            "GameTypeId",
            "Dimensions"))
    
    <button class="btn badge-info" onclick="getLoggedInUsers()">Vyhľadať používateľov</button>

    <table id="logged-in-users-table" class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Online</th>
            <th scope="col">Vyzvať</th>
        </tr>
        </thead>
        <tbody id="logged-in-users-body">
        </tbody>
    </table>

</div>

<div id="game-grid" class="container">
    <div id="messenger" class="hidden-by-default">
        <div class="input-group mb-3">
            <input id="message-receiver" type="text" class="form-control" placeholder="Username" aria-label="Username" />
        </div>

        <div class="input-group mb-3">
            <input id="message-text" type="text" class="form-control" placeholder="Message" aria-label="Správa" />
        </div>

        <button class="btn btn-success" onclick="sendPrivateMessageToUser()">Poslať správu</button>
    </div>
    <table id="game-grid-table">
    </table>
</div>