﻿@page
@model MemoryGameWebApp.Pages.LoginModel
@{
}

<form onsubmit="return false">
    <div class="form-group">
        <label for="login-username">Username</label>
        <input type="text" class="form-control" id="login-username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" class="form-control" id="login-password" placeholder="Password">
    </div>
    <button class="btn btn-primary" onclick="tryLoginUser()">Prihlásiť</button>
</form>
