﻿@page
@model MemoryGameWebApp.Pages.MyInvitesModel
@{
}

<div id="open-games-container">
    <button class="btn badge-info" onclick="getMyInvites()">Zobraziť moje výzvy</button>

    <table id="open-games-table" class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">UUID hry</th>
                <th scope="col">Vyzývateľ</th>
                <th scope="col">Štýl hry</th>
                <th scope="col">Rozmery</th>
                <th scope="col">Prijať výzvu</th>
            </tr>
        </thead>
        <tbody id="open-games-body">
        </tbody>
    </table>
</div>

<div id="game-grid" class="container">
    <div id="messenger" class="hidden-by-default">
        <div class="input-group mb-3">
            <input id="message-receiver" type="text" class="form-control" placeholder="Username" aria-label="Username" />
        </div>

        <div class="input-group mb-3">
            <input id="message-text" type="text" class="form-control" placeholder="Message" aria-label="Správa" />
        </div>

        <button class="btn btn-success" onclick="sendPrivateMessageToUser()">Poslať správu</button>
    </div>
    <table id="game-grid-table">
    </table>
</div>