﻿@page
@model MemoryGameWebApp.Pages.PlayedGamesModel
@{
}


<table id="myTable" class="table table-dark" cellspacing="0">
    <thead>
    <tr>
        @foreach (var property in Model.TableHeaderColumns)
        {
            <th>@property</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Games)
    {
        <tr>
            @foreach (var property in item.GetType().GetProperties())
            {
                <td>@property.GetValue(item)</td>
            }
        </tr>
    }
    </tbody>
</table>

<div class="container">
    <div id="game-board-replay">

    </div>

    <div id="steps-of-game-replay">

    </div>
</div>