﻿@page
@model MemoryGameWebApp.Pages.RegistrationModel
@{
}

<form onsubmit="return false">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password1">Password</label>
        <input type="password" class="form-control" id="password1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="password2">Password again</label>
        <input type="password" class="form-control" id="password2" placeholder="Password again">
    </div>
    <button class="btn btn-primary" onclick="registerUser()">Zaregistrovať</button>
</form>
